@model CompaignVM

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="~/assets/css/company_details.css">
    <link rel="stylesheet" href="~/assets/css/card_style.css">
    <section class="my-3">
        <div class="container">
            <div class="row mt-4">
                <div class="col-sm-12 mt-2">
                    <div class="blog-image">
                        <img src="/AdminPanelProjectFolderNameImages/OfferCompanyImage/@Model.OfferCompany.ImageName" alt="">
                    </div>
                </div>
                <div class="col-sm-12 mt-3">
                    <h3>@Model.OfferCompany.Title</h3>
                    <p>@Model.OfferCompany.Text</p>
                </div>

            </div>
        </div>
    </section>
    <section class="company-product">
        <div class="container">
            <div class="row my-3">
                <div class="col-sm-12 my-3">
                    <h5>Kampaniyaya aid məhsullar</h5>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-12">
                    <div class="row ">
                        @foreach (var item in Model.Products)
                        {
                            decimal percent = item.Price / 12;
                            percent = Math.Round(percent, 2);
                            <div class="col-sm-3 mb-4">
                                <div class="product-card">
                                    <div class="product-image">
                                        <div class="d-flex justify-content-end heart-box">
                                            <img data-heart-id="@item.Id" data-like="1" class="like-btn" src="~/assets/img/heart.svg" alt="">
                                        </div>
                                        <img src="/AdminPanelProjectFolderNameImages/ProductImage/@item.Images.FirstOrDefault().ImageName" alt="">
                                    </div>
                                    <div class="product-color">

                                    </div>
                                    <div class="product-info">
                                        <span class="product-category">
                                            <img src="~/assets/img/circle.svg" alt="">
                                            @item.SubCategory.Name
                                        </span>
                                        <span class="product-name">@item.Brand.Name  @item.Name</span>
                                    </div>
                                    <div class="product-price">
                                        <div class="cash">
                                            <span class="cash">@item.Price</span>
                                            <img src="~/assets/img/valuta.svg" alt="">
                                        </div>
                                        <div class="credit">
                                            <span class="month">12 ay</span>
                                            <span class="payment">
                                                @percent<img src="~/assets/img/purpleValuta.svg"
                                                             alt="">
                                            </span>
                                        </div>

                                    </div>
                                    <div class="product-sale-basket">
                                        <button>İndi al</button>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img src="~/assets/img/sebet.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </section>
    @section Scripts{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    }
