@model HomeVM

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<!-- coursel company -->
<section>
    <div class="container">
        <div class="row d-flex justify-content-end">
            <div class="col-sm-12 mt-3  width-change-box" style="height: 550px;">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.OfferCompanies)
                        {
                            <div class="swiper-slide">
                                <img src="/AdminPanelProjectFolderNameImages/OfferCompanyImage/@item.ImageName" alt="">
                            </div>
                        }
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- best sale -->
<section>
    <div class="container mt-5 ">
        <div class="row d-flex justify-content-end">
            <div class="col-sm-12 width-change-box">
                <h4>Yeni məhsullar</h4>
            </div>
        </div>
        <div class="row justify-content-end mt-4">
            <div class="col-sm-12 width-change-box">
                <div class="row " id="box">

                    @foreach (var item in Model.Products)
                    {
                        decimal percent = item.Price / 12;
                        percent = Math.Round(percent, 2);

                        <div class="col-sm-3 mb-4">
                            <div class="product-card">
                                <div class="product-image">
                                    <div class="d-flex justify-content-end heart-box">
                                        <img data-heart-id="@item.Id" data-like="1" class="like-btn" src="~/assets/img/heart.svg" alt="">
                                    </div>
                                    @{
                                        var img = @item.Images.Where(i => i.MainImage == true).FirstOrDefault();
                                    }
                                    <img src="/AdminPanelProjectFolderNameImages/ProductImage/@img.ImageName" alt="">
                                </div>
                                <div class="product-color">

                                </div>
                                <div class="product-info">
                                    <span class="product-category">
                                        <img src="~/assets/img/circle.svg" alt="">
                                        @item.SubCategory.Name
                                    </span>
                                    <span class="product-name">@item.Brand.Name  @item.Name</span>
                                </div>
                                <div class="product-price">
                                    <div class="cash">
                                        <span class="cash">@item.Price</span>
                                        <img src="~/assets/img/valuta.svg" alt="">
                                    </div>
                                    <div class="credit">
                                        <span class="month">12 ay</span>
                                        <span class="payment">
                                            @percent<img src="~/assets/img/purpleValuta.svg"
                                                         alt="">
                                        </span>
                                    </div>

                                </div>
                                <div class="product-sale-basket">
                                    <button>İndi al</button>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="~/assets/img/sebet.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center my-4">
            <div class="col-sm-2 d-flex justify-content-center">
                <input type="hidden" id="pCount" value="@ViewBag.Count" />
                <button class="btn btn-light " id="loadMore"
                        style="box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;">
                    Daha
                    çox
                </button>
            </div>
        </div>
    </div>
</section>
<!-- new model -->
<!-- owl coursel brend -->
<section>
    <div class="container mt-5 ">
        <div class="row d-flex justify-content-end">
            <div class="col-sm-12 width-change-box">
                <h4>Partnyorlar</h4>
            </div>
        </div>
        <div class="row d-flex justify-content-end mt-4">
            <div class="col-sm-12 width-change-box">
                <div class="owl-carousel owl-theme">
                    @foreach (var item in Model.Brands)
                    {
                        <div class=" item svg-img">
                            @Html.Raw(item.Icon)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Toastr.js JS -->

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        let skipData = 4;
        let takeData = 4
        let count = $('#pCount').val();

        $(document).on('click', '#loadMore', async function () {
            return await $.ajax({
                url: "/Home/LoadMore",
                type: "Post",
                data: {
                    skip: skipData,
                    take: takeData
                },
                success: await function (res) {
                    $('#box').append(res)
                    skipData += takeData;
                    if (skipData >= count) {
                        $("#loadMore").remove();
                    }
                    loadHeart();
                }
            });

        })
    </script>
}
